/*exam*/
.exam-model-wrapper{
    margin:10px;
    display: none;
    z-index: 1;
}
.sub-exam-wrapper {
    margin-top: 10px;
    width:100%;
    height:210px;
}
.sub-exam-title-wrapper {
    height: 25px;
    line-height: 25px;
    margin-bottom: 10px;
    width:100%;
}
.line_red {
    height:25px;
    width:auto;
    float: left;
}
.sub-exam-title {
    font-size: 16px;
    font-weight:bold;
    margin-left:5px;
    float: left;
}
.more {
    color: #009dda;
    font-size: 14px;
    float: right;
}
.sub-exam-content{
    margin-left:10px;
    width:97%;
    height:150px;
}
.cutoff_rule{
    margin-top: 20px;
    width:100%;
}

/*每一个exam*/
.exam-wrapper {
    height: 25px;
    width: 100%;
    line-height:25px;
    margin-top: 10px;
    overflow: hidden;
}
.exam-label {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0 2px;
    font-size: 10px;
    color:#cd0a0a;
    border:1px solid #cd0a0a;
    border-radius: 7px;
    text-align:center;
    vertical-align: top;
}
.exam-title {
    height: 25px;
    width: 70%;
    display: inline-block;
    font-size: 15px;
    margin-left: 5px;
    overflow: hidden;
}
.exam-score{
    display: inline-block;
    float: right;
    border:1px solid;
    height: 20px;
    color: orange;
    font-size: 10px;
    padding: 0 2px;
    text-align:center;
    border-radius: 5px;
    line-height: 20px;
}


