.toTopH {
    position:fixed;
    right:4%;
    bottom:4%;
    width:56px;
    height:56px;
    background:#666;
    border-radius:56px;
    text-align:center;
    transition:500ms;
    line-height:56px;
    display: block;
    font-size:16px;
    z-index:999999999;
    color:#fff;
    cursor:pointer;
}
